In [20]:
# prompt: i have excel file it holds energy data, the data is split over multipel tabs. i need to load one of the tabs. just give the code

import pandas as pd

# Replace 'your_excel_file.xlsx' with the actual file name
# Replace 'Sheet1' with the name of the sheet you want to load
df = pd.read_excel('2024 v2 Annual Technology Baseline Workbook Errata 7-19-2024.xlsx',
                   sheet_name='Geothermal', skiprows=263, usecols="K:AO",
                   nrows=6)

df.head(2)

,Unnamed: 10,Unnamed: 11,2022,2023,2024,2025,2026,2027,2028,2029,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Geothermal - Hydro / Flash,Advanced,71.282391,69.621457,68.049039,66.556606,65.136745,63.782977,62.489611,61.251626,...,53.595584,53.403541,53.212459,53.022332,52.833156,52.644926,52.457636,52.271284,52.085863,51.901369
1,Geothermal - Hydro / Flash,Moderate,71.282391,70.292202,69.374662,68.519283,67.717650,66.962914,66.249430,65.572492,...,60.708732,60.482087,60.256575,60.032191,59.808929,59.586783,59.365748,59.145818,58.926988,58.709252

In [21]:
df.columns

Index(['Unnamed: 10', 'Unnamed: 11',          2022,          2023,
                2024,          2025,          2026,          2027,
                2028,          2029,          2030,          2031,
                2032,          2033,          2034,          2035,
                2036,          2037,          2038,          2039,
                2040,          2041,          2042,          2043,
                2044,          2045,          2046,          2047,
                2048,          2049,          2050],
      dtype='object')

In [22]:
df.columns = ['Technology','Scenario'] + list(df.columns[2:])

In [23]:
df

,Technology,Scenario,2022,2023,2024,2025,2026,2027,2028,2029,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Geothermal - Hydro / Flash,Advanced,71.282391,69.621457,68.049039,66.556606,65.136745,63.782977,62.489611,61.251626,...,53.595584,53.403541,53.212459,53.022332,52.833156,52.644926,52.457636,52.271284,52.085863,51.901369
1,Geothermal - Hydro / Flash,Moderate,71.282391,70.292202,69.374662,68.519283,67.717650,66.962914,66.249430,65.572492,...,60.708732,60.482087,60.256575,60.032191,59.808929,59.586783,59.365748,59.145818,58.926988,58.709252
2,Geothermal - Hydro / Flash,Conservative,71.282391,71.008544,70.736067,70.464951,70.195192,69.926781,69.659712,69.393979,...,66.306937,66.057968,65.810243,65.563757,65.318503,65.074476,64.831669,64.590076,64.349690,64.110507
3,Geothermal - Hydro / Binary,Advanced,106.485595,103.045325,99.846829,96.858431,94.054003,91.411776,88.913443,86.543485,...,72.752737,72.484507,72.217619,71.952065,71.687839,71.424934,71.163344,70.903062,70.644081,70.386395
4,Geothermal - Hydro / Binary,Moderate,106.485595,104.344272,102.404528,100.627982,98.986059,97.456940,96.023610,94.672557,...,85.800853,85.473358,85.147502,84.823274,84.500668,84.179675,83.860287,83.542495,83.226293,82.911671
5,Geothermal - Hydro / Binary,Conservative,106.485595,106.074629,105.665718,105.258851,104.854019,104.451211,104.050417,103.651627,...,99.018859,98.645226,98.273462,97.903557,97.535501,97.169286,96.804901,96.442339,96.081589,95.722643

In [24]:

df = round(df, 2)

df.head(2)

,Technology,Scenario,2022,2023,2024,2025,2026,2027,2028,2029,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Geothermal - Hydro / Flash,Advanced,71.28,69.62,68.05,66.56,65.14,63.78,62.49,61.25,...,53.60,53.40,53.21,53.02,52.83,52.64,52.46,52.27,52.09,51.90
1,Geothermal - Hydro / Flash,Moderate,71.28,70.29,69.37,68.52,67.72,66.96,66.25,65.57,...,60.71,60.48,60.26,60.03,59.81,59.59,59.37,59.15,58.93,58.71

In [25]:
df['Cleaned+Technology'] = df['Technology'].str.replace('Geothermal - ','')

In [26]:
df['Technology'] = df['Cleaned+Technology']

In [27]:
df

,Technology,Scenario,2022,2023,2024,2025,2026,2027,2028,2029,...,2042,2043,2044,2045,2046,2047,2048,2049,2050,Cleaned+Technology
0,Hydro / Flash,Advanced,71.28,69.62,68.05,66.56,65.14,63.78,62.49,61.25,...,53.40,53.21,53.02,52.83,52.64,52.46,52.27,52.09,51.90,Hydro / Flash
1,Hydro / Flash,Moderate,71.28,70.29,69.37,68.52,67.72,66.96,66.25,65.57,...,60.48,60.26,60.03,59.81,59.59,59.37,59.15,58.93,58.71,Hydro / Flash
2,Hydro / Flash,Conservative,71.28,71.01,70.74,70.46,70.20,69.93,69.66,69.39,...,66.06,65.81,65.56,65.32,65.07,64.83,64.59,64.35,64.11,Hydro / Flash
3,Hydro / Binary,Advanced,106.49,103.05,99.85,96.86,94.05,91.41,88.91,86.54,...,72.48,72.22,71.95,71.69,71.42,71.16,70.90,70.64,70.39,Hydro / Binary
4,Hydro / Binary,Moderate,106.49,104.34,102.40,100.63,98.99,97.46,96.02,94.67,...,85.47,85.15,84.82,84.50,84.18,83.86,83.54,83.23,82.91,Hydro / Binary
5,Hydro / Binary,Conservative,106.49,106.07,105.67,105.26,104.85,104.45,104.05,103.65,...,98.65,98.27,97.90,97.54,97.17,96.80,96.44,96.08,95.72,Hydro / Binary

In [28]:
df2 = df.drop(['Cleaned+Technology'], axis=1)

In [29]:
df3 = df2.set_index(['Scenario','Technology']).stack().reset_index()

In [30]:
df3.columns = ['Scenario','Technology','Year','Value']

In [31]:
df3.head(2)

   Scenario     Technology  Year  Value
0  Advanced  Hydro / Flash  2022  71.28
1  Advanced  Hydro / Flash  2023  69.62

In [32]:
df3.to_csv('geothermal_LCOE_cleaned.csv', index=False)
# https://tinyurl.com/windbristol