In [65]:
# prompt: i have excel file it holds energy data, the data is split over multipel tabs. i need to load one of the tabs. just give the code

import pandas as pd

# Replace 'your_excel_file.xlsx' with the actual file name
# Replace 'Sheet1' with the name of the sheet you want to load
df = pd.read_excel('2024 v2 Annual Technology Baseline Workbook Errata 7-19-2024.xlsx',
                   sheet_name='Land-Based Wind', skiprows=332, usecols="K:AO",
                   nrows=30)

df.head(2)

,Unnamed: 10,Unnamed: 11,2022,2023,2024,2025,2026,2027,2028,2029,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Land-Based Wind - Class 1 - Technology 1,Advanced,29.282042,30.128824,28.005932,25.993003,24.954815,23.944063,22.959821,22.001207,...,17.658435,17.351680,17.045446,16.739730,16.434532,16.129851,15.825685,15.522034,15.218897,14.916271
1,Land-Based Wind - Class 1 - Technology 1,Moderate,29.495863,30.771243,29.009690,27.316231,26.611185,25.916495,25.231932,24.557278,...,21.213912,20.972759,20.731992,20.491611,20.251613,20.011998,19.772765,19.533914,19.295443,19.057351

In [66]:
df.columns

Index(['Unnamed: 10', 'Unnamed: 11',          2022,          2023,
                2024,          2025,          2026,          2027,
                2028,          2029,          2030,          2031,
                2032,          2033,          2034,          2035,
                2036,          2037,          2038,          2039,
                2040,          2041,          2042,          2043,
                2044,          2045,          2046,          2047,
                2048,          2049,          2050],
      dtype='object')

In [67]:
df.columns = ['Class+Technology','Scenario'] + list(df.columns[2:])

In [68]:
df.head()

,Class+Technology,Scenario,2022,2023,2024,2025,2026,2027,2028,2029,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Land-Based Wind - Class 1 - Technology 1,Advanced,29.282042,30.128824,28.005932,25.993003,24.954815,23.944063,22.959821,22.001207,...,17.658435,17.351680,17.045446,16.739730,16.434532,16.129851,15.825685,15.522034,15.218897,14.916271
1,Land-Based Wind - Class 1 - Technology 1,Moderate,29.495863,30.771243,29.009690,27.316231,26.611185,25.916495,25.231932,24.557278,...,21.213912,20.972759,20.731992,20.491611,20.251613,20.011998,19.772765,19.533914,19.295443,19.057351
2,Land-Based Wind - Class 1 - Technology 1,Conservative,29.681728,31.516433,30.243232,28.988208,28.758295,28.529007,28.300343,28.072298,...,25.586672,25.384342,25.182498,24.981137,24.780260,24.579862,24.379944,24.180502,23.981537,23.783044
3,Land-Based Wind - Class 2 - Technology 1,Advanced,31.203097,32.097878,29.829276,27.678875,26.567237,25.485352,24.432212,23.406851,...,18.803867,18.479128,18.154875,17.831107,17.507823,17.185021,16.862702,16.540863,16.219505,15.898625
4,Land-Based Wind - Class 2 - Technology 1,Moderate,31.438398,32.797772,30.920207,29.115220,28.363742,27.623300,26.893654,26.174569,...,22.611015,22.353981,22.097358,21.841145,21.585341,21.329946,21.074958,20.820376,20.566200,20.312428

In [69]:

df = round(df, 2)

df.head(2)

,Class+Technology,Scenario,2022,2023,2024,2025,2026,2027,2028,2029,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Land-Based Wind - Class 1 - Technology 1,Advanced,29.28,30.13,28.01,25.99,24.95,23.94,22.96,22.00,...,17.66,17.35,17.05,16.74,16.43,16.13,15.83,15.52,15.22,14.92
1,Land-Based Wind - Class 1 - Technology 1,Moderate,29.50,30.77,29.01,27.32,26.61,25.92,25.23,24.56,...,21.21,20.97,20.73,20.49,20.25,20.01,19.77,19.53,19.30,19.06

In [70]:
df['Cleaned+Technology'] = df['Class+Technology'].str.replace('Land-Based Wind - ','')

In [73]:
mask = df['Cleaned+Technology'] == 'Class 4 - Technology 1'
df = df[mask]
print(df)

                            Class+Technology      Scenario   2022   2023  \
9   Land-Based Wind - Class 4 - Technology 1      Advanced  32.79  33.72
10  Land-Based Wind - Class 4 - Technology 1      Moderate  33.04  34.47
11  Land-Based Wind - Class 4 - Technology 1  Conservative  33.25  35.31

     2024   2025   2026   2027   2028   2029  ...   2042   2043   2044   2045  \
9   31.33  29.07  27.90  26.75  25.64  24.56  ...  19.41  19.07  18.73  18.39
10  32.50  30.60  29.81  29.03  28.27  27.51  ...  23.49  23.22  22.96  22.69
11  33.88  32.47  32.22  31.96  31.70  31.45  ...  28.44  28.21  27.98  27.76

     2046   2047   2048   2049   2050      Cleaned+Technology
9   18.06  17.72  17.38  17.05  16.71  Class 4 - Technology 1
10  22.42  22.15  21.88  21.62  21.35  Class 4 - Technology 1
11  27.53  27.31  27.09  26.86  26.64  Class 4 - Technology 1

[3 rows x 32 columns]

In [74]:
df['Class'] = df['Cleaned+Technology'].str.split(' - ').str[0].str.replace('Class ','').astype(int)
df['Technology'] = df['Cleaned+Technology'].str.split(' - ').str[1]

In [75]:
df2 = df.drop(['Class+Technology', 'Cleaned+Technology'], axis=1)

In [76]:
df3 = df2.set_index(['Scenario','Class','Technology']).stack().reset_index()

In [77]:
df3.columns = ['Scenario','Class','Technology','Year','Value']

In [80]:
df3.head(2)

   Scenario  Class    Technology  Year  Value
0  Advanced      4  Technology 1  2022  32.79
1  Advanced      4  Technology 1  2023  33.72

In [81]:
df3.to_csv('onshore_wind_LCOE_cleaned.csv', index=False)
# https://tinyurl.com/windbristol